# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env

# Coverage directory used by testing tools
coverage/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Optional: VSCode settings
.vscode/

# Nodemon
.nodemon*
